@{
    ViewBag.Title = "Home Page";
}

    <div id="jumbotron-order-service" class="jumbotron">
        <h1>Order Service</h1>
        <p class="lead">Order any product, choice any delivery method and have fun :-).</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Client Orders</h2>
        <p><span>Show all client orders</span><a id="btn-show-all-client-orders" class="btn btn-default" style="float:right" href="/ClientOrder/GetClientOrderList">Show &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Products</h2>
        <p><span>Show all products</span><a id="btn-show-all-products" class="btn btn-default" style="float:right" href="/Product/GetProductList">Show &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Deliveries</h2>
        <p><span>Show all deliveries</span><a id="btn-show-all-deliveries" class="btn btn-default" style="float:right" href="/Delivery/GetDeliveriesList">Show &raquo;</a></p>
    </div>
</div>